<div class="iphone-announcement-banner">
    <div class="banner-content">
        <div class="banner-icon">
            <img src="/assets/EarthWatch Icon-iOS-Default-1024x1024@1xTransparent.png" alt="EarthWatch App Icon">
        </div>
        <div class="banner-text">
            <h2>SpaceEye for the iPhone is HERE!</h2>
            <p class="banner-subtext">Download EarthWatch today!</p>
        </div>
        <div class="banner-badge">
            <a href="https://apps.apple.com/au/app/earthwatch/id6757124855" target="_blank">
                <img src="/assets/download-on-the-app-store.svg" alt="Download on the App Store">
            </a>
        </div>
    </div>
</div>
